html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: $font-sm;
  line-height: $base-line-height;
  color: $base-color;
  @include breakpoint($b-md) {
    font-size: $font-md;
  }
}

body {
  position: relative;
}

* {
  @include border-box-sizing;
}

