html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: $font-sm;
  line-height: $line-md;
  &.ja {
    line-height: $line-ja-md;
  }
  color: $color-base;
  @include breakpoint($b-md) {
    font-size: $font-md;
  }
}

body {
  position: relative;
}

a {
  color: inherit;
}

* {
  @include border-box-sizing;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-dark;
}
