.textblock {
  h2, h3, h4, h5, h6 {
    line-height: $line-sm;
    .ja & {
      line-height: $line-ja-sm;
    }
    text-rendering: optimizeLegibility;
  }

  h2 {
    margin: 1.5em 0 0.25em;
    font-size: 1.25em;
  }

  h3 {
    margin: 1.25em 0 0.25em;
    @include sc-heading;
    .ja & {
      font-size: 1em;
      letter-spacing: 0;
    }
  }

  h4, h5, h6 {
    margin: 1em 0 0.25em;
  }

  p, ul, ol, dl, blockquote, pre, iframe, table {
    margin: 0 0 1em;
    padding: 0;
  }

  li {
    margin: 0 0 0.5em 1.5em;
    padding: 0;
  }

  hr {
    text-align: center;
    margin: -0.5em auto 1.725em;
    color: $color-light-bg;
    font-size: 3em;
    border: none;
    letter-spacing: 3px;
    &:before {
      content: '\2022 \2022 \2022 \2022 \2022';
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    @include hover-all {
      background-color: $color-light-bg;
    }
  }

  blockquote {
    padding: 0.5em 1em;
    border-left: 0.35em solid $color-light-bg;
    color: $color-quote;
    *:last-child {
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;
    border: 1px solid $color-light-md;
    border-collapse: collapse;
  }

  td,
  th {
    padding: .25em .5em;
    border: 1px solid $color-light-md;
  }
  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: $color-light-bg;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    &.has-border {
      border: 1px solid $color-light-md;
      border-radius: 1px;
    }
  }

  code,
  pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }

  code {
    padding: .25em .5em;
    font-size: 0.7em;
    background-color: $color-light-bg;
    border-radius: 3px;
  }

  pre {
    padding: 1em;
    font-size: 0.7em;
    background-color: $color-light-bg;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }

  pre code {
    font-size: 1em;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }

  .gist .gist-file {
    font-family: Menlo, Monaco, "Courier New", monospace !important;
  }
  .gist .markdown-body {
    padding: 1em;
  }
  .gist pre {
    padding: 0;
    background-color: transparent;
  }
  .gist .gist-file .gist-data {
    font-size: .7em !important;
  }
  .gist code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
  .gist table {
    margin-bottom: 0;
    border: 0;
  }
  .gist td, .gist th {
    border: 0;
  }

  &.nav__textblock ul {
    list-style: none;
  }

  &.nav__textblock li {
    margin: 0 0 0.25em;
    a {
      @include hover-underline;
    }
  }

  &.nav__textblock iframe {
    margin: 0;
    &.nav__github-button {
      margin-bottom: 1em;
    }
  }

  // Amazon Stuff
  a + img { display: inline; }

  /* Allow putting lists inside blockquotes */
  blockquote li p:first-child:last-child {
    margin-bottom: 1em;
  }

  blockquote li:last-child p:first-child:last-child {
    margin-bottom: 0;
  }
}
