.textblock
  h2 ブログを削除しました
  p
    | 都合により、いちばん反響のあった
    a(href="/post/66112027707/y") 「たたかう」と「にげる」の話
    | を除く全ての記事を削除しました。
  p
    | たいした理由はないのですが、強いて言うのなら、
    | このブログがこれからの自分にとって邪魔になったからです。
    | それ以上は聞かないで下さい。
  p
    | 記事のMarkdownファイルは
    a(href="https://github.com/chibicode/naze/tree/gh-pages/ja-removed/") GitHub
    | に保存されています。GitHubの使い方が分からない方は、
    a(href="mailto:shu@chibicode.com") shu@chibicode.com
    | に(1)読みたい記事のタイトルと(2)なぜ読みたいかを送ってくだされば対応します。
  p
    | ご迷惑をおかけして申し訳ございません。
    | また、ブログと関係の無いご用件も
    a(href="mailto:shu@chibicode.com") shu@chibicode.com
    | にてお待ちしております。シリコンバレーを訪れられる際、何かわたしに
    | できることがあればご連絡下さい。
  p
    | 2014年5月22日
    br
    | 上杉周作 /
    | &nbsp;
    a(href="http://twitter.com/chibicode") @chibicode
