.nav__main
  .nav__col.nav__col--2
    h3.nav__heading
      | About Me
  .nav__col.nav__col--2
    h3.nav__heading
      | Featured
.nav__main
  .nav__col.nav__col--3
    h3.nav__heading
      | Test
