.nav__main
  .nav__col.nav__col--2
    .nav__col-inner
      h3.nav__heading#about
        +l("site.data[site.locale].about_me")
      .textblock.nav__textblock
        +_if("site.locale == 'en'")
          +_include("markdown.html filename='about.md'")
          +_else
            +_include("markdown.html filename='about_ja.md'")
        +_include("markdown.html filename='contact.md'")

  .nav__col.nav__col--2
    .nav__col-inner
      +_include('nav_featured.html')
.nav__main
  +_include('nav_monthly.html')
