+_include("sorted_tags.html")

+_for("tag in sorted_tags reversed")
  +_assign("post_exists = false")
  +_for("post in site.tags[tag]")
    +_if("post.categories[0] == locale")
      +_assign("post_exists = true")
  +_if("post_exists")
    .nav__col.nav__col--3(class="{% cycle 'is-1', 'is-2', 'is-3' %}")
      .nav__col-inner
        h3.nav__heading
          +l("tag | split:'-' | last")
        ul.nav__posts
          +_for("post in site.tags[tag]")
            +_if("post.categories[0] == locale")
              +_include("post_li.html")
