li
  +_capture("post_url")
    +_if("post.external_url")
      +l("post.external_url")
      +_else
        +l("post.url")

  a(href="{{ post_url | strip_newlines }}")
    span.nav__post-title
      +l("post.title")
      +_if("post.featured or post.external_url")
        | &nbsp;
        span.nav__post-icon
          +_if("post.featured ")
            i(class="fa fa-star-o")
            | &nbsp;
          +_if("post.external_url")
            i(class="fa fa-external-link")
    span.nav__post-date
      +l("post.date | date:site.data[locale].date ")

