{% if page.excerpt %}
<meta content="{{ site.github.url }}{{ page.url }}/" property="og:url">
<meta content="article" property="og:type">
{% capture og_description %}{{ page.excerpt | strip_html | strip_newlines }}{% endcapture %}
{% capture og_title %}{{ page.title }}{% endcapture %}
{% else %}
<meta content="{{ site.github.url }}/" property="og:url">
<meta content="website" property="og:type">
{% capture og_title %}{{ site.data[site.locale].title }}{% endcapture %}
{% capture og_description %}{{ site.data[site.locale].description | strip_html | strip_newlines }}{% endcapture %}
{% endif %}

<meta content="{{ site.data[site.locale].title }}" property="og:site_name">
<meta content="{{ og_description }}" property="og:description">
<meta content="{{ og_title }}" property="og:title">

{% if page.ogi %}
{% capture og_image %}{{ site.github.url }}/assets/images/naze/naze.{{ page.ogi }}.jpg{% endcapture %}
{% elsif page.image_path %}
{% capture og_image %}{{ site.github.url }}/assets/images/{{ page.image_path }}{% endcapture %}
{% else %}
{% capture og_image %}{{ site.github.url }}/assets/images/{{ site.cover_image }}{% endcapture %}
{% endif %}
<meta name="twitter:domain" content="{{ site.github.url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitter_username }}">
<meta name="twitter:creator" content="{{ site.twitter_username }}">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:image:src" content="{{ og_image }}">
<meta name="twitter:description" content="{{ og_description }}">
<meta content="{{ og_image }}" property="og:image">


<meta content="{{ site.fb_admins }}" property="fb:admins">
