.cover {
  height: 15rem;
  background: url(/assets/images/fuji.jpg) no-repeat center center;
  background-size: cover;
  @include breakpoint($b-md) {
    height: 25rem;
  }
  @include breakpoint($b-lg) {
    height: 40rem;
  }
}

.page {
  padding-top: 3rem;
  padding-bottom: 10rem;
  @include container(80em);
  @include pad(5%)
}
