.nav__main {
  @include span(100% nest);
  @include breakpoint($b-lg) {
    @include span(6  nest);
  }
}

.nav__col {
  margin-bottom: 1.5rem;
  @include span(100%);
}

.nav__col-inner {
  padding-top: 2rem;
  border-top: 5px solid $color-light-bg;
  margin-top: -5px;
  .post__nav & {
    border-top-color: #fff;
  }
}

.nav__col--2 {
  @include breakpoint($b-md) {
    @include span(50%);
  }
}

.nav__col--3 {
  @include breakpoint($b-md) {
    @include span(100%/3);
  }
  &.is-1 {
    clear: both;
  }
}

.nav__heading {
  margin: 0 0 0.25rem;
  color: $color-light-fg;
  @include sc-heading;
}

.nav__posts {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0 0 0.75rem;
    padding: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.nav__post-title {
  a:hover &, a:active & {
    text-decoration: underline;
  }
  font-weight: bold;
  display: block;
  line-height: $line-sm;
  .ja & {
    line-height: $line-ja-sm;
  }
}

.nav__post-date {
  color: $color-light-fg;
  display: block;
}

.nav__post-icon {
  font-weight: normal;
  color: $color-light-fg;
}
