$base-color: #444;
$light-bg: #eee;
$light-fg: #999;
$color-japan: #ff4136; // Thanks http://clrs.cc/

$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;

$base-line-height: 1.4;

// Susy
$susy: (
  columns: 12,
  gutters: .4,
  gutter-position: inside
);

// Breakpoints
$b-lg: min-width 80em;
$b-md: min-width 45em;

@mixin hover-underline {
  text-decoration: none;
  &:hover, &:active {
    text-decoration: underline;
  }
}
