// Thanks http://clrs.cc/
$base-color: #555;
$color-japan: #ff4136;
$light-bg: #eee;
$light-fg: #aaa;

$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;

// Susy
$susy: (
  columns: 12,
  gutters: .4,
  gutter-position: inside
);

// Breakpoints
$b-lg: min-width 80em;
$b-md: min-width 45em;

@mixin hover-underline {
  text-decoration: none;
  &:hover, &:active {
    text-decoration: underline;
  }
}
