| ---
| layout: default
| ---#{"\n"}

.lead
  | I am a bare-bones Jekyll template, created by <a href="http://twitter.com/chibicode">@chibicode</a>. Check out my <a href="{{ site.github.repository_url }}">GitHub Repo</a>.
