<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>{% if page.title %}
{{ page.title }} |
{% endif %}
{{ site.title }}</title><meta name="description" content=""><meta name="viewport" content="width=device-width, initial-scale=1">{% include head.html %}
{% include meta.html %}</head><body><a href="http://naze.chibicode.com" target="_blank" class="link--japan">日本語ブログ &rarr;</a>{% if page.url == '/index.html' %}<div class="cover"></div>{% endif %}<div class="page">{{ content }}</div>{% include scripts.html %}</body></html>