doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
      | {% if page.title %}
      | {{ page.title }} |
      | {% endif %}
      | {{ site.title }}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/stylesheets/app.css')
    | {% include head.html %}
    | {% include meta.html %}
  body
    | {% if page.url == '/index.html' %}
    .cover
    | {% endif %}
    .page
      | {{ content }}
    | {% include scripts.html %}
